/* http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* End Box Sizing */

a:link {
    text-decoration:underline;
}

/* clearfix http://nicolasgallagher.com/micro-clearfix-hack/ */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1; /* For IE 6/7 only */
}
/* End clearfix */


/* http://mystrd.at/modern-clean-css-sticky-footer */
html {
    position:relative;
    min-height:100%;
}
body {
    margin:0 0 100px; /* bottom = footer height */
    background-color: #3b3a36;
    text-align: center;
    color:white;
}

footer {
    position: absolute;
    left:0;
    bottom:0;
    height:30px;
    width:100%;
    background-color:black;
    text-align:center;
    padding:5px;
}
/* End Sticky Footer */


section, header, nav {
    padding:5px 25px;
}

nav ul {
    list-style-type:none;
    margin:0;
    padding:0;
}

footer a:link, nav a:link {
    text-decoration:none;
}

nav ul li {
  background-color:#eae0c2;
	border-radius:16px;
	border:6px solid #333029;
	display:inline-block;
	color:#505739;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:12px 50px;
	text-decoration:none;
}

nav{
  color:black;
}

table{
  align:center;
  border: 1px solid black;
}

th{
    font-size:24px;
}

th, td {
    padding: 15px;
    text-align: left;
    border: 1px solid black;
}

.button{
  background-color:#eae0c2;
  border-radius:16px;
  border:6px solid #333029;
  display:inline-block;
  color:#505739;
  font-family:Arial;
  font-size:14px;
  font-weight:bold;
  padding:12px 50px;
  text-decoration:none;
}


/*----------------------------------------------------
Forms
-----------------------------------------------------*/
label {
    margin-top:10px;
    margin-bottom:0;
    display:block;
    font-size:1em;
}

input[type=text],input[type=password],select {
    width:300px;
    font-size:20px;
}
